<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663113081618-4h5ckt4rj31l5cvh0had1g4gppun7he3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663113081618-4h5ckt4rj31l5cvh0had1g4gppun7he3</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Cez-f8hyoZHVIi7jR8mE-DiCoL0tFZc</string>
	<key>GCM_SENDER_ID</key>
	<string>663113081618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stevehong.FirebasePractice</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-11be2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-11be2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663113081618:ios:b412c21245a281a9b749cb</string>
	<key>DATABASE_URL</key>
	<string>https://fir-practice-11be2-default-rtdb.firebaseio.com</string>
</dict>
</plist>